 <style>
        .bold{
           font-weight:bold;
        }
            .small{
            font-size:xxsmall;
        }
        .small{
            font-size:xsmall;
        }
        .small{
            font-size:small;
        }
        .normal{
            font-size:medium;
        }
        .largt{
            font-size:larger;
        }
        .largt{
            font-size:xlarge;
        }
        .largt{
            font-size:xxlarge;
        }
        .red{
            color: red;
        }
        .green{
            color: green;
        }
   </style>


  